# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Tauri / Rust
src-tauri/target/
src-tauri/gen/
src-tauri/WixTools/

# Logs / OS
*.log
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# Env
.env
.env*.local
